:root {
    --BG:     #f8fafc;
    --BLUE:   #2563eb;
    --GREEN:  #16a34a;
    --GREY:   #666;
    --LIME:   #84cc16;
    --ORANGE: #f97316;
    --RED:    #dc2626;
    --TEXT:   #1e293b;
    --WHITE:  #fff;

    --FONT_SIZE_BIG:    clamp(1.5rem, 0.5vw  + 1rem,   1.2rem);
    --FONT_SIZE_NORMAL: clamp(1rem,   0.5vw  + 1rem,   1.1rem);
    --FONT_SIZE_SMALL:  clamp(0.9rem, 0.25vw + 0.5rem, 1rem);

    --SPACING_BIG:    2rem;
    --SPACING_NORMAL: 1rem;
    --SPACING_SMALL:  0.5rem;

    --CONTENT_MAX_WIDTH: 56rem;
}

* {
	box-sizing: border-box;
    color:           var(--TEXT);
    font-size:       var(--FONT_SIZE_NORMAL);
    margin:     0;
    padding:    0;
	text-decoration: none;
}

body {
    align-items:     center;
    background:      var(--BG);
    display:         flex;
    flex-direction:  column;
    gap:             var(--SPACING_NORMAL);
    min-height:      100dvh;
	padding:         var(--SPACING_SMALL) var(--SPACING_BIG);
}

main {
    display:        flex;
    flex:           1;
    flex-direction: column;
    gap:            var(--SPACING_SMALL);
    max-width:      var(--CONTENT_MAX_WIDTH);
    /* padding:        var(--SPACING_NORMAL) 0; */
    width:          100%;
}

input, select {
	background: var(--WHITE);
	border:     1px solid var(--GREY);
	padding:    var(--SPACING_SMALL);
    width:      100%;
}

button {
	background:  var(--GREEN);
	border:      none;
	color:       var(--WHITE);
	cursor:      pointer;
    padding:   var(--SPACING_SMALL);
    width:     100%;
}

button:hover:not(:disabled) {
	filter: brightness(0.9);
}

button:disabled,
option:disabled {
    background: var(--GREY);
    cursor:     not-allowed;
    opacity:    0.5;
}

input:focus-visible,
select:focus-visible,
button:focus-visible {
	outline:        2px solid var(--BLUE);
	outline-offset: 2px;
}

h1 {
    font-size: var(--FONT_SIZE_BIG);
}

.controls {
	align-items:            center;
	background:             var(--WHITE);
	border:                 1px solid var(--GREY);
	display:                grid;
	gap:                    var(--SPACING_SMALL);
	grid-template-columns:  auto auto auto 1fr;
	padding:                var(--SPACING_SMALL);
}

@media (max-width: 600px) {
	.controls {
		align-items:            center;
		column-gap:             var(--SPACING_SMALL);
		display:                grid;
		grid-template-columns:  auto 1fr;
		row-gap:                var(--SPACING_SMALL);
	}
}
