.stack {
	align-items:    flex-end;
	bottom:         var(--SPACING_NORMAL);
	display:        flex;
	flex-direction: column;
	gap:            var(--SPACING_SMALL);
	position:       fixed;
	right:          var(--SPACING_NORMAL);
	z-index:        1000;
}

.toast {
	align-items:  center;
	display:      flex;
	gap:          var(--SPACING_SMALL);
	padding:      var(--SPACING_SMALL);
	white-space:  nowrap;
	width:        max-content;
}

.error,
.warning {
	background: var(--ORANGE);
}

.message {
    font-size:  var(--FONT_SIZE_SMALL);
    white-space: nowrap;
}

.close {
	background: transparent;
	border:     none;
	color:      inherit;
	cursor:     pointer;
	padding:    0;
}
